extends layout
link(rel='stylesheet', href='/stylesheets/index.css') 
block content
  
  ul#messages

  form(action="")
    input(type="text", name="title")#m 
    input(type="submit",value="Wyślij")
      
